/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}


.head-bar {
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
	background-color: #e6ccff;
	height: 45px;
}

.back-button {
	position: relative; /*position back button in relation to menu bar*/
	text-align: center;
	font-size: 20pt;
	color: purple;
	text-shadow: none;
	font-weight: 300px;
	background-color: lightgrey;
	border: 1px solid white;
	width: 40px;
	height: 32px;
	left: 5px; /*distances from left and top of menu bar*/
	top: 5px; 
}

a:link {
	text-decoration: none; /* remove underline from back-button link*/
}

/* 
	Albums 
			*/
.albums-album-wrapper {
	position: relative;
	top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr; /*make two columns, two rows*/
	grid-gap: 10px;
	text-align: center;
	
}

.albums-album-art {
	width: 125px;
	height: 125px;
}

.albums-album-name {
	font-size: 14pt;
	margin:3px;
}

.albums-artist-name {
	font-size: 11pt;
	margin:2px;
	font-style: italic;
}

/* 
	Songs 
			*/
.songs-info-wrapper {
	position: relative;
	top: 10px;
	left: 10px;
	right: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: left;
	
}

.songs-album-art {
	width: 125px;
	height: 125px;
}

.songs-album-name {
	line-height: 20px;

}

.songs-artist-name {
	font-style: italic;
	line-height: 10px;
}

.songs-text-info {
	
}

.songs-album-year {
	line-height: 10px;
	
}

.songs-list li {
	position: relative;
	border: 1px solid lightgrey;
	line-height: 25px;
	margin: 5px;
	top: 10px;	
}

/* 
	Player 
			*/
.player-album-art {
	position: relative;
	top: 25px;
	left: 25px;
	width: 250px;
	height: 250px;
}

.player-song-info {
	position: relative;
	top: 5px;
	text-align: center;
	color: purple;
}

#player-song-name {
	position: relative;
	top: 20px;
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	
}

.volume-bar {
	
}

#time-bar {
	position: relative;
	left: 80px;
	top: -5px; 
}

.volume-level div {
	position: relative;
	top: 10px;
	left: 10px;
	display: inline-block;
	width: 24px;
	height: 6px;
	border: 1px solid black;
	background-color: white;
	margin: 5px;
}

.volume-level i {
	position: relative; /*positioning of the low volume icon*/
	top: 12px;
	left: 9px;
}

.volume-rocker button{
	display: inline-block;
	position: relative;
	top: 10px;
	left: 70px;
	text-align: center;
	height: 20px;
	width: 75px;
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px #888888;
}

#upbutton:active {
	background-color: #e6ccff; /*change color of volume rocker button when you click*/
}

#downbutton:active {
	background-color: #e6ccff;
}

.player-controls{
	display: inline-block; /*put 3 player control buttons inline*/
	position: relative;
	top: 10px;
	left: 82px;
}

#player-time {
	position: relative;
	top: 10px;
}

#time-elapsed {
	display: inline;
	position: relative;
	top: 10px;
	left: -75px;
}

#time-total{
	display: inline; /*put the total time horizontally inline with elapsed time*/
	position: relative;
	top: 10px;
	right: -30px;
}