/*portfolio.css provides the styles for: 
index.html
about.html
contact.html
mapplanner.html
baseball.html
ipodproj.html
compbio.html
quantbio.html
machinelearn.html
coloring.html
design.html*/

/*

Global styles

*/
nav.top-nav {
    background-color: #2D2D3A;
    position: fixed;
    overflow: hidden;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px #5BC3E9; 
    height: 90px;
    z-index: 1;
}

main {
    margin-top: 100px;
    margin-left: 2em;
}

nav [aria-current=page]{
    background-color: #CAE8EF;
    border-radius: 5px;
    padding: 4px;
}

nav.top-nav [aria-current=page]{ 
    color: #2D2D3A;
}

nav.top-nav h1 {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    left: 20px;
    top: -20px;
    font-family:'Rockwell';
    color: #5BC3E9;
    font-weight: bold;
    font-size: 30pt;
}

nav.top-nav ul{
    list-style: none;
    text-align: right;
    position: relative;
    top: -40px;
    right: 20px;
}

nav.top-nav li{
    display: inline-block;
    position: relative;
    top: -70px;
    font-family: sans-serif;
    font-weight: bold;
    color: #5BC3E9;
    margin: 5px;
    user-select: none;
}

nav.top-nav li:hover {
    text-decoration: underline;
    text-decoration-color: #5BC3E9;
}

.headbar-logo {
    position: relative;
    top: 5px;
    left: 20px;
    height: 80px;
}

.spacer{
    padding: 40px; /*add space between the last list of projects and the end of the pg*/
}

.footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 8px;
    background-color: #5BC3E9;
    text-align: right;
    font-family: "Verdana";
    font-style: italic;
    color: #2D2D3A;
}

/*

Landing Page

*/

.welcome {
    background: url('NUpic.png');
    background-size: cover;
    background-position: left;
    overflow: hidden;
    width: 100%;
    margin-left: -10px; /*shift the background image to span the page width */
    padding-top: 150px;
    padding-bottom: 200px;
    padding-left: 100px;
}

.welcome h1 {
    text-align: left;
    font-size: 60pt;
    font-family: "Verdana";
    color: #2D2D3A;
    text-shadow: 4px 4px #5BC3E9;
}

.welcome p {
    font-family: "Verdana";
    font-size: 15pt;
    color: #2D2D3A;
}

.subj {
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    font-family: "Rockwell";
    font-size: 35pt;
    color: #2D2D3A;
}

.project { /*display project cards in a horizontal list under each subject*/
    vertical-align: top;
    margin-inline-end: 20px;
    display: inline-block;
    width: 250px;
    height: 300px;
    padding: 10px;
    border: 3px solid #2D2D3A;
    border-radius: 15px;
    background-color: #CAE8EF;
}

.project h1 {
    font-family: "verdana";
    font-weight: bold;
    color: #2D2D3A;
}

.project p {
    font-family: "verdana";
    color: #2D2D3A;
}

.portfolio-list {
    margin-left: 30px;
    margin-top: -50px;
}
 
.section {
    margin-left: 30px;
}

i {
    display: inline-block;
    size: 10px;
    color: #2D2D3A;
}

.section div:hover { /*change color of project cards when hovering*/
    background-color: white;
    box-shadow: 8px 8px #2D2D3A;
}


/*

About Page

*/

.about-wrapper {
    padding-top: 10px;
}

.about-wrapper h1 {
    margin-top: 60px;
    font-family: "Rockwell";
    font-weight: bold;
    font-size: 35pt;
    color: #2D2D3A;
}

.about-wrapper p {
    font-family: "Verdana";
    font-size: 15pt; 
    color:#2D2D3A;    
}

.go-to {
    width: 175pt;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #2D2D3A;
    font-family: "Verdana";
    font-size: 15pt;
    border: 3px solid #2D2D3A;
    border-radius: 15px;
    background-color: #CAE8EF;
}

.project-button a {
    text-decoration: none;
}

.go-to:hover {
    background-color: white;
    box-shadow: 4px 4px #2D2D3A;
}

.image-wrapper img{
    height: 500px;
    padding-top: 50px;
    padding-left: 100px;
}

.about-wrapper-2 {
    display: grid;
	grid-template-columns: 1fr 1fr;
    margin: 50px;
}

.instagram {
    border: 5px solid #2D2D3A;
    border-radius: 15px;
}

/*

Contact Page

*/

.resume iframe {
    width: 80%;
    height:700px;
}

/*

Project Pages

*/

.project-title {
    margin-top: 60px;
    padding-top: 50px;
    font-family: "Rockwell";
    font-weight: bold;
    font-size: 35pt;
    color: #2D2D3A;
}

.project-desc {
    font-family: "Verdana";
    font-size: 15pt; 
    color:#2D2D3A; 
}

.project-block {
    padding-left: 50px;
    padding-right: 50px;
}

.document iframe {
    width: 80%;
    height:700px;
}

.ipod-imgs {
    display: inline;
}

.ipod-imgs img {
    width: 350px;
}

#quantbio-slides {
    width: 70%;

}


