
/* Github and LinkedIn icons ------------------------------------------------------------*/

.socials {
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials li {
    display: inline-block;
    margin-right: 10px; 
}

.socials li:last-child {
    margin-right: 0; 
}

.socials a {
    text-decoration: none;
    color: #461767; 
    font-size: 35px; 
}

.socials a:hover {
    color: #461767; /* change color on hover */
    opacity: 0.5;
}

.socials a:active {
    color: #461767;
    opacity: 0.5;
}

/* Headings ------------------------------------------------------------------------*/

h1 {
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    color: #461767;
    font-size: 50px;
    margin-bottom: 2px;
}

h2 {
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    color: #000;
    font-size: 40px;
    margin-bottom: 2px;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: #f4f3ef;
    font-weight: 300;
    padding: 50px;
}

/* Navigation menu ---------------------------------------------------------------------------*/

nav {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px; 
    margin-left: 250px; 
}

nav a {
    color: #461767;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}


/* Sections -------------------------------------------------------------------------------*/

.section {
    display: none;
}

.section h3 {
    color: #461767;
    margin-top: 5px;
    font-weight: 500;
}

.section h2 {
    color: black;
    font-size: 36px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section h4 {
    color: black;
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-left: 250px; 
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    font-weight: 400;
    color: #461767;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}


/* Sidebar --------------------------------------------------------------------------------*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #ece7ef;
    /* color: #461767; */
    padding: 20px;
    text-align: center;
}

.sidebar img {
    width: 200px;
    height: 200px; 
    object-fit: cover; 
    border-radius: 50%; 
    margin-top: 20px;
    margin-bottom: 5px;
    outline: 5px solid #461767;
}

.main-content {
    margin-left: 250px; /* width of sidebar + margin */
    padding: 20px;
}

.contact-button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px; 
    padding: 10px 10px;
    background-color: #461767;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contact-button:hover {
    border: 3px solid #461767;
    background-color: #ece7ef;
    color: #461767;
}

/* Page preferences ----------------------------------------------------------------------------*/

.conc {
    margin-bottom: 60px;
}


#skills {
    margin-top: -15px;
    margin-left: 275px;
}


.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    z-index: 1; /* Ensure the close button is above the modal content */
}

.project { /*display project cards in a horizontal list under each subject*/
    vertical-align: top;
    margin-inline-end: 20px;
    display: inline-block;
    width: 250px;
    height: 200px;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 30px;
    border: 3px solid #461767;
    border-radius: 15px;
    background-color: white;
    box-shadow: 8px 8px #461767;
}

.project:hover { /*change color of project cards when hovering*/
    background-color: #ece7ef;
    box-shadow: 8px 8px #461767;
}



/* Modal tutorial ---------------------- */
.modal-container {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: white;
    border-radius: 10px;
    padding: 30px 50px;
    width: 900px;
    max-width: 100%;
}

.modal h1 {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    color: #461767;
    font-size: 20px;
    margin-bottom: 2px;
}

.modal h2 {
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    color: #000;
    font-size: 15px;
    margin-bottom: 2px;
}

.modal body {
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    padding: 80px;
}

.modal img {
    margin-top: 50px;
    width: 500px;
    height: 300px;
}

#pd_img {
    margin-top: 30px;
    width: 300px;
    height: 400px;
}

#yeast_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
    height: 250px;
}

#dag_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
}

#disclosure_measures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 300px;
}

#scorer_snapshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 300px;
}

#dense_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

button {
    border-radius: 5px;
    border: 2px solid #461767;
    background-color: #461767;
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    box-shadow: none;
}



